<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>461007272945-72cn8makr1sfno08hhds9s21gjn3h9qb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.461007272945-72cn8makr1sfno08hhds9s21gjn3h9qb</string>
	<key>API_KEY</key>
	<string>AIzaSyCg432SmUQPCPBfpv_KliiZo4DrNE4oL0o</string>
	<key>GCM_SENDER_ID</key>
	<string>461007272945</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.timedoor.reactnativestarterkit</string>
	<key>PROJECT_ID</key>
	<string>rn-starter-kit-ef0bb</string>
	<key>STORAGE_BUCKET</key>
	<string>rn-starter-kit-ef0bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:461007272945:ios:8b1d4a3ac55e12c4916250</string>
</dict>
</plist>